<p id="notice"><%= notice %></p>

<p>
  <strong>Site:</strong>
  <%= @site_comment.site %>
</p>

<p>
  <strong>Template page:</strong>
  <%= @site_comment.template_page %>
</p>

<p>
  <strong>Name:</strong>
  <%= @site_comment.name %>
</p>

<p>
  <strong>Mobile phone:</strong>
  <%= @site_comment.mobile_phone %>
</p>

<p>
  <strong>Tel phone:</strong>
  <%= @site_comment.tel_phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @site_comment.email %>
</p>

<p>
  <strong>Qq:</strong>
  <%= @site_comment.qq %>
</p>

<p>
  <strong>Weixin:</strong>
  <%= @site_comment.weixin %>
</p>

<p>
  <strong>Weibo:</strong>
  <%= @site_comment.weibo %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @site_comment.gender %>
</p>

<p>
  <strong>Birth:</strong>
  <%= @site_comment.birth %>
</p>

<p>
  <strong>Address:</strong>
  <%= @site_comment.address %>
</p>

<p>
  <strong>Hobby:</strong>
  <%= @site_comment.hobby %>
</p>

<p>
  <strong>Content:</strong>
  <%= @site_comment.content %>
</p>

<p>
  <strong>Content2:</strong>
  <%= @site_comment.content2 %>
</p>

<p>
  <strong>Content3:</strong>
  <%= @site_comment.content3 %>
</p>

<p>
  <strong>Status:</strong>
  <%= @site_comment.status %>
</p>

<p>
  <strong>Updated by:</strong>
  <%= @site_comment.updated_by %>
</p>

<p>
  <strong>Note:</strong>
  <%= @site_comment.note %>
</p>

<%= link_to 'Edit', edit_site_comment_path(@site_comment) %> |
<%= link_to 'Back', site_comments_path %>
