<% title "教程-维斗喜帖教程|维斗喜帖,微信请帖,二维码请帖,电子喜帖,请柬" %>
<% meta_description "维斗喜帖教你如何制作电子请帖： 如何在手机上制作电子请帖；如何在电脑上创建电子请帖；如何使用二维码请柬；如何发布电子喜帖。" %>

<!-- ==============================================
Blog
=============================================== -->
<section id="blog" class="white-bg padding-top-bottom">
  <div class="container">    
    <div class="row blog">
      <% @posts.each do |post| %>   
        <div class="col-md-4 col-sm-6 item scrollimation fade-up">
          <div class="icon">
            <%= link_to "/post/#{post.short_title}" do %>
              <img class="img-responsive img-center" src="<%= post.image_path %>" alt="<%= post.title %>" />
            <% end %>
          </div>        
          <h2><%= link_to get_short_content(post.title, 18), "/post/#{post.short_title}" %></h2>
          <p class="hidden-xs text-left"><%= get_short_content(post.description, 60)%></p>      
        </div>
      <% end %>    
    </div>  
  </div>
</section>

