<% title "案例-维斗喜帖案例|喜帖,请帖,请柬|二维码请柬案例|手机请帖案例|微信请帖案例" %>
<% meta_description "维斗喜帖每天都有数十款喜帖案例生成，包括二维码请帖制作案例，微信喜帖案例，电子请帖案例，微相册案例；分分钟创建，惊艳朋友圈。" %>

<!-- ==============================================
Case
=============================================== --> 
<section id="case" class="">
  
  <div class="container hidden-xs hidden-sm">
    <!--==== Portfolio Filters ====-->
    <div id="filter-works">
      <ul>
        <li class="active scrollimation fade-right d1">
          <a href="#" data-filter="*">全部</a>
        </li>
        <% @templates.each do |temp| %>
          <li class="scrollimation fade-right">
            <a href="#" data-filter=".t<%= temp.id %>"><%= temp.title %></a>
          </li>
        <% end %>
        <li class="scrollimation fade-left d1">
          <a href="#" data-filter=".t<%= @last_template.id %>"><%= @last_template.title %></a>
        </li>
      </ul>
    </div><!--End portfolio filters -->
  </div><!--End portfolio header -->
  
  <div class="container masonry-wrapper scrollimation <%= ie_browser? ? '' : 'fade-in' %>">
  
    <div id="projects-container">
      <% @sites.each do |site| %>
        <% next if get_first_site_image_url(site).nil? || site.vip? %>
        <% template = site.template %>
        <% site_page = site.site_pages.first %>
        <% next if site_page.nil? %>
        <!-- ==============================================
        SINGLE PROJECT ITEM
        =============================================== --> 
        <article class="project-item t<%= site.template.id%>">
          <%= image_tag qiniu_image_path(get_first_site_image_url(site), :thumbnail => '320x480>', :quality => 80), class: "img-responsive project-image",  alt: site.title %>
         
          <div class="hover-mask" <%= ie_browser? ? "" : "style='background: #94DAF0;'".html_safe %>>
            <h2 class="project-title">
              <%= site.title %>
            </h2><!--Project Title -->
            <p><%= template.title %><br/><small><%= distance_of_time_in_words_to_now(site.updated_at) %>前</small></p>

            <!--Project Subtitle -->
            <div class="text-center">
              <% if mobile_device? %>
                <%= link_to '点击预览', '#', class: 'btn btn-meflat', onclick: "javascript:window.location='#{get_site_url(site)}';" %></div>
              <% else %>
                <%= link_to '点击预览', '#', class: 'btn btn-meflat', onclick: "javascript:window.location='/sites/#{site.id}/preview';" %></div>
              <% end %>
            </div>

          <!--==== Project Preview HTML ====-->
          <div class="sr-only project-description" 
            data-category="<%= template.title %>" 
            data-date="<%= get_date(site.updated_at) %>" 
            data-descr="<%= site.description %>" 
            data-images="<%= site_page.site_images.map{|s| s.image.url }.join(',')%>"
          >
            <p><%= value_for(@site_page, 'story', title: '邀请函', typo: 'text', default: true) %></p>
            <p><%= value_for(@site_page, 'content', title: '详细说明', typo: 'text') %></p>
            <p class="text-right"><a class="btn btn-meflat icon-right" href="#external-link">返回<i class="fa fa-arrow-right"></i></a></p>
          </div>
        </article>
        <!-- ==============================================
        END PROJECT ITEM
        =============================================== --> 
      <% end %>        
    </div><!-- End projects --> 
    
  </div><!-- End container --> 
  
  <div class="text-right">
    <%= will_paginate @sites %>
  </div>
</section>