<% title "维斗喜帖官网-在线制作漂亮喜帖|请帖|请柬|微信请帖|商务请帖|二维码请柬|微信相册|电子邀请|微信邀请函" %>
<% meta_keywords "喜帖,请帖,请柬,漂亮微信请帖,商务电子请帖,二维码请柬,微信请柬,电子喜帖,结婚喜帖,微相册,微杂志,电子杂志,微信营销" %>
<% meta_description "在线制作电子请帖, 漂亮的微相册,微信喜帖,商务请柬,二维码请帖,微相册,电子杂志,微信营销,微信邀请,电子邀请函; 免费试用,分分钟创建,漂亮的微信请柬再一次引爆朋友圈!" %>
<!-- ==============================================
HEADER
=============================================== -->
<%= content_for :header do %>
<div class="row">
  <div class="col-sm-6 text-col" style="margin-top: 0px;">
    <h1>微信邀请+微相册</h1>
    <p>时尚专属，打造属于你的真挚邀请</p>
    <h1>电子杂志+微营销</h1>
    <p>微信营销，再一次引爆你的朋友圈</p>
    <!-- app/site/new?template_id=4 -->
    <p class="text-center"><a href="/templates" class="btn btn-lg btn-active"><i class="fa fa-location-arrow"></i> 开始制作</a></p>
  </div>
  <div class="col-sm-6">
    <div class="imac-frame">
      <%= image_tag('imac.png', alt: '维斗喜帖背景', class: "img-responsive img-center") %>
      <div class="imac-screen flexslider">
        <ul class="slides">
          <li>
            <%= image_tag('banner1.jpg', alt: '维斗喜帖，时尚的体验') %>
          </li>
          <li>
            <%= image_tag('banner2.jpg', alt: '维斗喜帖，制作如此简单') %>
          </li>
          <li>
            <%= image_tag('banner3.jpg', alt: '维斗喜帖，分享如此方便') %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<% end %>
<!-- ==============================================
SERVICES 2
=============================================== -->
<section id="services" class="white-bg padding-bottom">
  <div class="container">    
    <div class="row services">    
      <div class="col-md-3 col-sm-6 item scrollimation fade-up">      
        <div class="icon">
          <%= image_tag('service1.png', alt: '结婚请帖', class: 'img-responsive img-center') %>
        </div>
        <div class="text-center">
        漂亮的微信请柬，同样适用于百日宴请帖、生日请帖、微企邀请函。<br/><a href="/app/site/new?template_id=8" class="btn btn-mini btn-meflat">我要制作</a></div>      
      </div>      
      <div class="col-md-3 col-sm-6 item scrollimation fade-up d1">      
        <div class="icon">
        <%= image_tag('service2.png', alt: '婚纱相册', class: 'img-responsive img-center') %>
        </div>
        <div class="text-center">
        创建时尚的微相册，婚纱微相册、宝宝微相册、活动相册、旅游微相册。<br/><a href="/templates/3" class="btn btn-mini btn-meflat">我要制作</a></div>  
      </div>      
      <div class="col-md-3 col-sm-6 item scrollimation fade-up d2">      
        <div class="icon">
          <%= image_tag('service3.png', alt: '电子杂志', class: 'img-responsive img-center') %>
        </div>
        <div class="text-center">
        个性化微杂志，可分享到微信/QQ/微博等，借助于社会化媒体传播。<br/><a href="/templates/5" class="btn btn-mini btn-meflat">我要制作</a></div> 
      </div>      
      <div class="col-md-3 col-sm-6 item scrollimation fade-up d3">      
        <div class="icon">
        <%= image_tag('service4.png', alt: '微信营销', class: 'img-responsive img-center') %>
        </div>
        <div class="text-center">
        引爆朋友圈的利器，企业商户微宣传的高效自传播渠道，移动你的生意。<br/><a href="/post/mp" class="btn btn-mini btn-meflat">发布到公共号</a></div> 
      </div>    
    </div>  
  </div>
</section>
<!-- ==============================================
SERVICES 1 
=============================================== -->
<section id="services" class="white-bg padding-top-bottom">
  <div class="container">    
    <header class="section-header text-center">    
      <h1 class="scrollimation scale-in"><%= image_tag('logo.png', alt: '维斗喜帖标志') %></h1>
      <p>维斗喜帖网是一个微场景应用开发平台，我们通过简单直观的操作步骤，丰富多样的模版，为广大客户提供各方面的微应用，包括电子喜帖，微邀请，微相册，微杂志，微网站，企业微场景等。<br/>
      <strong>制作个人应用：</strong>结婚、生日宴、活动Party、个人相册。<br/>
      <strong>制作商务英语：</strong>产品宣传、店庆、品牌/形象展示、活动邀请、合作代理、公共号接通微场景。</p>    
    </header>  
    <div class="row services">    
      <div class="col-md-3 col-sm-6 item scrollimation fade-up">      
        <div class="icon">
          <%= image_tag('feature1.png', alt: '轻快的维斗喜帖', class: 'img-responsive img-center') %>
        </div>        
        <h2>操作简单方便</h2>
        <p>轻，用最直接的方式呈现最震撼的内容；让请帖在最需要的那一刻美丽绽放.</p>      
      </div>      
      <div class="col-md-3 col-sm-6 item scrollimation fade-up d1">      
        <div class="icon">
        <%= image_tag('feature2.png', alt: '访问快的微信请帖', class: 'img-responsive img-center') %>
        </div>        
        <h2>基于云计算架构</h2>
        <p>维斗喜帖采用云计算+云存储服务，即安全，又能保障应用快速传递和高负载访问.</p>
      </div>      
      <div class="col-md-3 col-sm-6 item scrollimation fade-up d2">      
        <div class="icon">
          <%= image_tag('feature3.png', alt: '婚礼邀请帖', class: 'img-responsive img-center') %>
        </div>        
        <h2>传递喜庆和祝福</h2>
        <p>为客户制造几分钟喜悦的场景，通过微信请帖、QQ请帖、手机请帖，将你的喜悦传递.</p>
      </div>      
      <div class="col-md-3 col-sm-6 item scrollimation fade-up d3">      
        <div class="icon">
        <%= image_tag('feature4.png', alt: '高大上的维斗喜帖', class: 'img-responsive img-center') %>
        </div>        
        <h2>针对高端用户</h2>
        <p>产品是核心，服务是关键。微营销的实质，就是在这短短几分钟时间内牢牢抓住用户.</p>
      </div>    
    </div>  
  </div>
</section>

<!-- ==============================================
FEATURED PROJECT
=============================================== --> 
<section id="feat-project" class="hidden-xs gray-bg padding-top">
  <div class="container">
    <header class="section-header text-center">
      <h1 class="scrollimation scale-in">如何制作</h1>
      <p>你只需要准备相关的素材（文章／图片／设计），选择合适的背景音乐；<br/>在模板中挑选一个中意的喜帖模板，免注册，三步完成制作，过程不到5分钟; <br/>
      免费试用，满意后付费，实时在线客服咨询.</p>
    </header>
    <div class="scrollimation fade-up">
      <%= image_tag('chrome-top.png', alt: '维斗喜帖', class: 'img-responsive img-center') %>  
      <div class="img-wrapper">
        <%= image_tag('wedxt800x500.png', alt: '维斗喜帖，为你骄傲', class: 'img-responsive img-center') %>
        <p class="text-center on-hover"><a class="btn btn-meflat icon-right" href="/video">制作教程<i class="fa fa-arrow-right"></i></a></p>      
      </div>
    </div>
  </div>
</section>
