<% title "维斗喜帖官网-在线制作漂亮喜帖|请帖|请柬|微信请帖|商务请帖|二维码请柬|微相册|微邀请|微信邀请函" %>
<% meta_keywords "喜帖,请帖,请柬,漂亮微信请帖,商务电子请帖,二维码请柬,微信请柬,电子喜帖,结婚喜帖,微相册" %>
<% meta_description "请帖|喜帖|请柬, 漂亮的微相册,微信喜帖,商务请柬,二维码请帖,微相册,百日宴请柬,生日请帖,微信邀请,电子邀请函; 免费试用,分分钟创建,漂亮的微信请柬再一次引爆朋友圈!" %>
<!-- ==============================================
HEADER
=============================================== -->
<%= content_for :header do %>
<div class="row">
  <div class="col-sm-6 text-col">
    <h1>高大上的结婚喜帖</h1>
    <p>私人定制，打造属于你的真挚邀请</p>
    <h1>这是微信电子请帖</h1>
    <p>一生一次，再一次引爆你的朋友圈</p>
    <p class="text-center"><a href="/app/site/new?template_id=2" class="btn btn-lg btn-active"><i class="fa fa-location-arrow"></i> 我要制作</a></p>
  </div>
  <div class="col-sm-6">
    <div class="imac-frame">
      <%= image_tag('imac.png', alt: '维斗喜帖背景', class: "img-responsive img-center") %>
      <div class="imac-screen flexslider">
        <ul class="slides">
          <li>
            <%= image_tag('banner1.jpg', alt: '维斗喜帖，时尚的体验') %>
          </li>
          <li>
            <%= image_tag('banner2.jpg', alt: '维斗喜帖，制作如此简单') %>
          </li>
          <li>
            <%= image_tag('banner3.jpg', alt: '维斗喜帖，分享如此方便') %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<% end %>
<!-- ==============================================
SERVICES
=============================================== -->
<section id="services" class="white-bg padding-top-bottom">
  <div class="container">    
    <header class="section-header text-center hidden-xs">    
      <h1 class="scrollimation scale-in"><%= image_tag('logo.png', alt: '维斗喜帖标志') %></h1>
      <p>电子版的结婚请柬，也称电子请帖、电子喜帖，适合在微信上传播的叫微信喜帖.<br/> 提供电子喜帖制作的很多家，真正定位高端的唯独我们一家，我们始终认为，一生一次的婚礼，必须出彩.</p>    
    </header>  
    <div class="row services">    
      <div class="col-md-3 col-sm-6 item scrollimation fade-up">      
        <div class="icon">
          <%= image_tag('feature1.png', alt: '轻快的维斗喜帖', class: 'img-responsive img-center') %>
        </div>        
        <h2>操作简单方便</h2>
        <p>轻，用最直接的方式呈现最震撼的内容；让请帖在最需要的那一刻美丽绽放.</p>      
      </div>      
      <div class="col-md-3 col-sm-6 item scrollimation fade-up d1">      
        <div class="icon">
        <%= image_tag('feature2.png', alt: '访问快的微信请帖', class: 'img-responsive img-center') %>
        </div>        
        <h2>基于云计算架构</h2>
        <p>维斗喜帖采用云计算+云存储服务，即安全，又能保障应用快速传递和高负载访问.</p>
      </div>      
      <div class="col-md-3 col-sm-6 item scrollimation fade-up d2">      
        <div class="icon">
          <%= image_tag('feature3.png', alt: '婚礼邀请帖', class: 'img-responsive img-center') %>
        </div>        
        <h2>传递喜庆和祝福</h2>
        <p>我们通过微信请帖、QQ请帖、手机请帖，将你的喜悦传递到社交网络.</p>
      </div>      
      <div class="col-md-3 col-sm-6 item scrollimation fade-up d3">      
        <div class="icon">
        <%= image_tag('feature4.png', alt: '高大上的维斗喜帖', class: 'img-responsive img-center') %>
        </div>        
        <h2>针对高端用户</h2>
        <p>产品是核心，服务是关键。我们很在乎你的婚礼，我们做好了一切准备为你服务.</p>
      </div>    
    </div>  
  </div>
</section>
<!-- ==============================================
FEATURED PROJECT
=============================================== --> 
<section id="feat-project" class="hidden-xs gray-bg padding-top">
  <div class="container">
    <header class="section-header text-center">
      <h1 class="scrollimation scale-in">如何制作</h1>
      <p>新人只需要准备双方的姓名、联系方式、婚礼安排、婚庆地点、婚纱照片；<br/>在模板中挑选一个中意的喜帖模板，免注册，三步完成制作，过程不到5分钟.</p>
    </header>
    <div class="scrollimation fade-up">
      <%= image_tag('chrome-top.png', alt: '维斗喜帖', class: 'img-responsive img-center') %>  
      <div class="img-wrapper">
        <%= image_tag('wedxt800x500.png', alt: '维斗喜帖，为你骄傲', class: 'img-responsive img-center') %>
        <p class="text-center on-hover"><a class="btn btn-meflat icon-right" href="/post/wedxt-steps">使用教程<i class="fa fa-arrow-right"></i></a></p>      
      </div>
    </div>
  </div>
</section>
