
<div class="container">

  <header class="section-header text-center">
    <h1 class="scrollimation scale-in">应用模板</h1>
    <p>选择你喜欢的模板，点击查看详细案例.<br/> 每个模板都有不同的内容和风格要求，请按照每个模板的提示准备素材.</p>
  </header>
  
  <!--==== Portfolio Filters ====-->
  <div id="filter-works">
   
  </div><!--End portfolio filters -->
</div><!--End portfolio header -->

<!-- ==============================================
PORTFOLIO
=============================================== --> 

<div class="container masonry-wrapper scrollimation fade-in">

  <div id="projects-container">
    <% @templates.each do |template| %>
      <% demo_images = get_demo_image_list(template, 'demo_img') %>
      <!-- ==============================================
      SINGLE PROJECT ITEM
      =============================================== --> 
      <article class="project-item web-design">
        
        <img class="img-responsive project-image" src="<%= demo_images.shift %>"  alt="<%= template.title %>"><!--Project thumb -->
        
        <div class="hover-mask">
          <h2 class="project-title"><%= template.title %></h2><!--Project Title -->
          <p><%= template.cate.title %></p><!--Project Subtitle -->
        </div>
        
        <!--==== Project Preview HTML ====-->
        <div class="sr-only project-description" 
          data-category="<%= template.cate.title %>" 
          data-date="<%= get_date(template.updated_at) %>" 
          data-client="<%= template.keywords %>" 
          data-descr="<%= template.summary %>" 
          data-images="<%= demo_images.join(',') %>"
        >
          <%= raw template.description %>
          <div class="">
            <h3 class="bottom_bordered">最新发布</h3>
            <div class="row">
              <% template.sites.limit(4).each do |site| %>
                <% next if get_first_site_image_url(site).nil? %>
                <div class="col-sm-6 col-md-3">
                  <div class="thumbnail">
                    <img src="<%= get_first_site_image_url(site) %>" />
                    <!--<img src="http://qrickit.com/api/qr?d=<%=get_site_url(site)%>&fgdcolor=000000&bgdcolor=F1678D&qrsize=120&t=p&e=m"> -->
                    <div class="caption text-center">
                      <p><small><a href="<%= site_preview_path(site)%>" target="_blank"><%= site.title.to_s.truncate(10) %></a></small></br><%= distance_of_time_in_words_to_now(site.updated_at) %>前</p>
                      <p>
                        <a href="<%= site_preview_path(site)%>" target="_blank" class="btn btn-default">预览</a>
                      </p>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
          <p>怎么样，是不是觉得很赞？<br/>其实制作很简单，填一个表格，传几张图即可完成，超级方便！</p>
          <p class="text-right">
            <%= link_to new_site_path(template_id: template.id),  data: {confirm: '确定要使用该模板？'}, class: "btn btn-meflat icon-right" do %>
              我要制作 <i class="fa fa-arrow-right"></i>
            <% end %>
          </p>
        </div>
      </article>
      <!-- ==============================================
      END PROJECT ITEM
      =============================================== -->           
    <% end %>            
  </div><!-- End projects --> 
  
</div><!-- End container --> 

<!-- ==============================================
PROJECT PREVIEW MODAL (Do not alter this markup)
=============================================== --> 
<div id="project-modal" class="modal fade">

  <div class="modal-dialog">
  
    <div class="modal-content">
    
      <div class="modal-header">
      
        <div class="container">
        
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          
          <h1 id="hdr-title" class="text-center"></h1>
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="image-wrapper">
                <img class="img-responsive" src="/assets/chrome.png" alt="">
                <div class="loader"></div>
                <div class="screen"></div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
      
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div id="project-sidebar" class="col-md-3">
              <h2 id="sdbr-title"></h2>
              <p id="sdbr-category"></p>
              <p id="sdbr-date"></p>
              <p id="sdbr-client"></p>
              <p id="sdbr-link"><a href="#link" target="_blank"></a></p>
              <p id="sdbr-descr"></p>
            </div>
            <div id="project-content" class="col-md-8 col-md-offset-1">
            </div>
          </div>
          
        </div>
      </div><!-- End modal-body -->
      
    </div><!-- End modal-content -->
    
  </div><!-- End modal-dialog -->
</div><!-- End project-modal -->
