<% title "#{@post.title}-维斗喜帖" %>
<% meta_keywords "#{@post.title},维斗喜帖出品,请柬,漂亮微信请帖,商务请帖,二维码请柬,微信请柬,电子喜帖,结婚喜帖" %>
<% meta_description "#{@post.title}|维斗喜帖，漂亮的电子喜帖、商务请柬、微信请帖、二维码请柬。" %>

<div class="row">
  <div id="project-sidebar" class="col-md-3 hidden-xs">
    <h3 id="sdbr-title">
      <img src="http://qrickit.com/api/qr?d=<%="http://wedxt.com/post/#{@post.short_title}"%>&fgdcolor=F1678D&bgdcolor=f2f2f2&qrsize=200&t=p&e=m">
      <br/><small>扫一扫，在手机上浏览</small>
    </h3>

    <p id="sdbr-category"><%= @post.keywords %></p>
    <p id="sdbr-date"><%= get_date(@post.updated_at) %></p>
    <p id="sdbr-link"><a href="/blog">返回</a></p>

    <%= render partial: 'layouts/duoshuo', locals: {post: @post} %>
  </div>
  <div id="project-content" class="col-md-8 col-md-offset-1">
    <article>
      <h1><%= @post.title %></h1>
      <hr/>
      <%= raw @post.content %>
    </article>
    <p class="text-right"><a class="btn btn-meflat icon-right" href="/blog"><i class="fa fa-arrow-left"></i> 返回</a></p>
  </div>
</div>