<% title "#{@template.title}-微信请帖模板,维斗喜帖出品" %>
<% meta_keywords "#{@template.title},维斗喜帖出品,请柬模板,漂亮微信请帖模板,商务请帖模板,二维码请柬模板,微信请柬模板,电子喜帖模板,结婚喜帖模板" %>
<% meta_description "#{@template.title}|维斗喜帖，漂亮的商务请帖、微信请帖、二维码请柬。" %>
<!-- ==============================================
PROJECT PREVIEW MODAL (Do not alter this markup)
=============================================== --> 
<div id="project-modal" class=" " >

  <div class="modal-dialog">
  
    <div class="modal-content">
    
      <div class="modal-header">
      
        <div class="container">
          <h1 id="hdr-title" class="text-center"><%= @template.title %></h1>
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="image-wrapper">
                <%= image_tag('chrome.png', alt: '维斗喜帖桌面背景', class: "img-responsive") %>
                <div class="loader" ></div>
                <div class="screen flexslider"><div class="flex-viewport" ><ul class="slides">
                <% get_demo_image_list(@template, 'demo_img', 'index').each do |img| %>
                  <li><img src="<%= img %>" alt="<%= @template.title %>" draggable="false"></li>
                <% end %>
                </ul></div><ul class="flex-direction-nav"><li><a class="flex-prev" href="#"><i class="fa fa-angle-left"></i></a></li><li><a class="flex-next" href="#"><i class="fa fa-angle-right"></i></a></li></ul></div>
              </div>
            </div>
          </div>
        </div>

      </div>
      
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div id="project-sidebar" class="col-md-3">
              <h2 id="sdbr-title">
                <% unless @template.property == 'free' %>
                  <%= link_to app_site_new_path(template_id: @template.id, typo: 'personal'), class: 'btn btn-meflat icon-right', style: 'height: 70px' do %>
                    开始制作<i class="fa fa-arrow-right"></i><br/>
                    <small>(免费试用)</small>
                  <% end %>
                <% else %>
                  <%= link_to app_site_new_path(template_id: @template.id, typo: 'personal'), class: 'btn btn-meflat icon-right', style: 'height: 70px' do %>
                    免费制作<i class="fa fa-arrow-right"></i>
                  <% end %>
                <% end %>
              </h2>
              <p id="sdbr-category"><%= @template.cate.title %></p>
              <p id="sdbr-date"><%= get_date(@template.updated_at) %></p>
              <p id="sdbr-client"><%= @template.keywords %></p>
              <p id="sdbr-descr"><%= @template.summary %></p>
              <p id="sdbr-price"><a href="/pricing">价格说明</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/users/sign_in">会员通道</a></p>
            </div>
            <div id="project-content" class="col-md-8 col-md-offset-1">
              <%= raw @template.description %>
              <div class="">
                <h3 class="bottom_bordered"><%= @template.title %>案例展示</h3>
                <div class="row">
                  <% @template.recommend_sites(6).each do |site| %>
                    <% img_url = get_first_site_image_url(site) %>
                    <% next if img_url.nil? %>
                    <div class="col-sm-6 col-md-4">
                      <div class="thumbnail recommend-thumbnail">
                      <%= image_tag qiniu_image_path(img_url, :thumbnail => '200x300>', :quality => 80), class: "img-responsive",  alt: site.title %>

                        <div class="caption text-center">
                          <p><a href="<%= site_preview_path(site)%>" target="_blank"><%= site.title.to_s.truncate(9) %></a></p>
                          <p>
                            <a href="<%= site_preview_path(site)%>" target="_blank" class="btn btn-info">点击预览</a>
                          </p>
                        </div>
                      </div>
                  </div>
                  <% end %>
                </div>
              </div>
              <p>怎么样，是不是觉得很赞？<br>其实制作很简单，填一个表格+传几张图即可完成，还可以通过手机登录后台不断完善，超级方便！</p>
              <p class="text-right">
                <%= link_to new_site_path(template_id: @template.id, typo: 'personal'), class: 'btn btn-meflat icon-right' do %>
                  我要制作 <i class="fa fa-arrow-up"></i>
                <% end %>      
              </p>
              <p class="text-right">
                <%= link_to '/post/help' do%>
                  <i class="fa fa-info"></i> 使用帮助
                <% end %>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <%= link_to templates_path do%>
                  <i class="fa fa-reply"></i> 返回
                <% end %>
              </p>
            </div>
          </div><!-- end row-->
        </div>
      </div><!-- End modal-body -->
      
    </div><!-- End modal-content -->
    
  </div><!-- End modal-dialog -->
</div>
<!-- ==============================================
PROJECT PREVIEW MODAL END
=============================================== --> 
