<% title "精选案例-维斗喜帖案例|喜帖,请帖,请柬|二维码请柬案例|手机请帖案例|微信请帖案例" %>
<% meta_keywords "喜帖案例,请帖案例,请柬案例,漂亮微信请帖案例,商务请帖案例,二维码请柬案例,微信请柬案例,电子喜帖案例,结婚喜帖案例" %>
<% meta_description "维斗喜帖每天都有数十款喜帖案例生成，包括二维码请帖制作案例，微信喜帖案例，电子请帖案例，微相册案例；分分钟创建，惊艳朋友圈。" %>

<!-- ==============================================
Top
=============================================== --> 
<section id="top">
  
  <div class="container">
    <div class="row">
      <% @sites.each do |site| %>
        <% img_url = get_first_site_image_url(site) %>
        <% next if img_url.nil? %>
        <% template = site.template %>
        <div class="col-sm-6 col-md-3">
          <div class="thumbnail biz-thumbnail">
            <a href="<%= site_preview_path(site)%>" target="_blank">
              <%= image_tag qiniu_image_path(img_url, thumbnail: 'x320', crop: '!320x-0a0', quality: 80), class: "img-responsive project-image",  alt: site.title %>
            </a>
            <div class="caption text-center" id="caption_<%=site.id%>">
              <p>
                <a href="<%= site_preview_path(site)%>" target="_blank"><%= site.title.to_s.truncate(12) %></a><br/>
                【<%= link_to template.title, "/templates/#{template.id}", style: 'color: gray;' %>】
                <a href="<%= get_site_url(site) %>" id="<%= site.id %>" target="_blank" title="扫描二维码" data-title="<%= site.title %>" onmouseover="javascript: show_qr(<%= site.id %>);" style="font-size: 24px; color: #94daf0;"> <i class="fa fa-qrcode"> </i> </a>
              </p>
            </div>
          </div>
        </div>
      <% end %>
        <div class="col-sm-6 col-md-3">
          <div class="thumbnail">
            <%= image_tag asset_path('placeholder1.jpg'), style: "width: 100%; max-height: 320px;" %>
            <div class="caption text-center">
              <p><a href="/case">更多案例...</a></p>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="text-right">
    <%= will_paginate @sites %>
  </div>
</section>


<!-- qrModal start-->
<div id="qrModal" class="modal <%= ie_browser? ? '' : 'fade' %>">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="container">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h1 id="hdr-title" class="text-center">扫描二维码</h1>
        </div>
      </div>
      <div class="modal-body text-center" id="qrBody">
        
      </div><!-- End modal-body -->
    </div><!-- End modal-content -->
  </div><!-- End modal-dialog -->
</div>
<!-- qrModal end-->

<script language="javascript">
  function show_qr(site_id){
    var site = $('#' + site_id);
    $('#qrModal').modal('toggle');
    $("#qrBody").html("<img src='http://qrickit.com/api/qr?d=" + site.attr('href') + "&fgdcolor=F1678D&bgdcolor=f2f2f2&qrsize=200&t=p&e=m' /><br/>"  + site.data('title') + "" );
  }
</script>