<script type="text/javascript" src="http://qzonestyle.gtimg.cn/qzone/openapi/qc_loader.js" data-appid="101148468" data-redirecturi="http://www.wedxt.com/members/qc_callback" charset="utf-8"></script>

<div class="row">
  <div class="col-sm-6 text-col">
    <h3 class="bottom_bordered">手机号登录<small>(免注册)</small></h3>
    <%= form_for Member.new do |f| %>
      <%= f.hidden_field :auth_type, value: 'phone' %>
      <div class="row">
        <div class="col-sm-8">
          <div class="input-group">
            <%= f.telephone_field :auth_id, name: "member[auth_id]", class: 'form-control required', placeholder: "请输入你的手机号" %>
            <div class="input-group-btn">
              <%= f.submit '登 录', :class => 'btn btn-danger' %>
            </div>
          </div>
          <br/>
          <ul class="list-unstyled">
            <li><small class="help-block">* 请输入你创建应用时候的手机号.</small></li>
            <li><small class="help-block">* 请确保你输入的手机号能接收验证码.</small></li>
            <li><small class="help-block">* 首次登录不需要验证码.</small></li>
          </ul>
          <br/><br/>
        </div>
        <div class="col-sm-8"><!-- QQ login -->
          <span id="qq_login_btn"></span>
          <script type="text/javascript">
            QC.Login({//按默认样式插入QQ登录按钮
              btnId:"qq_login_btn"  //插入按钮的节点id
            });
          </script>
        </div>
      </div>
    <% end %>
  </div>

  <div id="auth-login" class="collapse">
    <div class="col-sm-6 text-col">
      <div class="authform">
        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form'}) do |f| %>
          <h3 class="bottom_bordered">电子邮箱登录<small>(首次使用请先注册)</small></h3>

          <%= devise_error_messages! %>
          <div class="form-group col-md-10">
           
            <%= f.label :email %>
            <%= f.email_field :email, :autofocus => true, class: 'form-control required' %>
          </div>
          <div class="form-group col-md-10">
            
            <%= f.label :password %>
            <%= f.password_field :password, class: 'form-control required' %>
          </div>
            <%= f.submit '登 录', :class => 'btn btn-meflat' %>
        <% end %>
      </div>
    </div> 
  </div>

  <div class="col-sm-6 text-col">
    <h3 class="bottom_bordered">需要帮助？</h3>
    <p><a href="#" class="" data-toggle="collapse" data-target="#auth-login">通过电子邮箱登录</a></p>
    <%- if devise_mapping.registerable? %>
      <p><%= link_to '电子邮箱注册', new_registration_path(resource_name), class: 'right'  %></p>
    <% end -%>
    <%- if devise_mapping.recoverable? %>
      <p><%= link_to "忘记密码?", new_password_path(resource_name), class: 'right' %></p>
    <% end -%>
    <p>联系客服：</p>
    <p><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=77632132&site=qq&menu=yes"><img border="0" src="/assets/icon-qq-boy.png" width="46px" /></a> <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=77632132&site=qq&menu=yes"><img border="0" src="/assets/icon-qq-girl.png" width="46px" /></a>
    <a id="icon-weixin" data-original-title="扫一扫加微信"><img alt="维斗喜帖微信" border="0" src="/assets/icon-weixin.png" width="46px" /></a>
    <div id="weixin-qrcode" class="hidden"><img src="/assets/weixin-qrcode.png" align="维斗喜帖微信二维码" /></div>
    <br/>
    热线电话：<a href="tel:18080810818">180-8081-0818</a></p>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('#icon-weixin').popover({
        html: true,
        placement: 'right',
        title: '扫描二维码加微信',
        content: function(){
          return $('#weixin-qrcode').html();
        }
    });
  });

  $("#new_member").validate();
  $("#new_user").validate();

</script>