
<%= get_wizard_html(@site) %>

<%= simple_form_for @site_page, url: wizard_path, html: {class: 'form-horizontal'} do |f| %>
  <div class="row margin-top-bottom">
    <div class="col-sm-12 col-md-8">
      <div class="row">
        <div class="col-sm-12 col-md-6" id="template_form">
          <h3 class="bottom_bordered">第一步. 编辑内容</h3>
          <div>
            <% temp_form = Templates::Keystore.value_for(@site_page.template_page, 'form') %>
            <% if temp_form %>
              <%= render inline:  temp_form, locals: {site_page_id: @site_page.id } %>
            <% else %>
              <P>本页面没有需要添加的内容， 跳过此步</P>
            <% end %>
          </div>
        </div>
        <div class="col-sm-12 col-md-6">
          <h3 class="bottom_bordered">第二步. 添加照片</h3>
            <% @image_count = @site_page.template_page.image_count %>
            <% if @image_count > 0 %>
              <ul id="site_images" data-update-url="<%= sort_site_images_url %>">
                <%= render @site_images %>
              </ul>
              <%= will_paginate @site_images %>

              <% if false #@site_images.size > ENV["MAX_IMAGE_COUNT"].to_i %>
                
              <% else %>
                <div class="text-center">
                  <%#= link_to "点击这里上传#{@image_count}张照片", site_images_path(site_page_id: @site_page.id), class: 'btn btn-active', 'data-toggle' => 'modal', 'data-target' =>'#fileModal', 'data-no-turbolink' => false  %>
                  <%= link_to "+ 点击这里上传图片", meitu_new_site_images_path(site_page_id: @site_page.id), class: 'btn btn-active', 'data-toggle' => 'modal', 'data-target' =>'#meituModal', :remote => true  %>

                </div>
              <% end %>
            <% else %>
              <p>本页面没有需要添加的照片， 跳过此步</p>
            <% end %>

        </div>
      </div>
    </div>
    <div class="col-md-4 hidden-xs">
      <h3 class="bottom_bordered">示例预览</h3>
      <%= render partial: 'demo_show', locals: {site_page: @site_page} %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <hr class="bordered" />
      <div class="actions text-center">
        <%= link_to "上一步", previous_wizard_path, class: 'btn btn-default' %>
        <%= button_tag(type: 'submit', data: { disable_with: "正在保存..." }, class: "btn btn-meflat icon-left") do %>
          <i class="fa fa-location-arrow"></i> 保存：<%= @site_page.title %>，进入下一页
        <% end %>       
        <%= link_to "跳过", next_wizard_path, class: 'btn btn-default' %>
      </div>
    </div>
  </div>
<% end %> 

<!-- show banner choose modal -->
<div id="bannerModal" class="modal <%= ie_browser? ? '' : 'fade' %>">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="container">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h1 id="hdr-title" class="text-center">选择对话框</h1>
        </div>
      </div>
      <div class="modal-body" id="modal-body">
       <p class="text-center"><i class="fa fa-spinner fa-spin"></i>正在加载...</p>
      </div><!-- End modal-body -->
    </div><!-- End modal-content -->
  </div><!-- End modal-dialog -->
</div>

<!-- show music choose modal -->
<div id="musicModal" class="modal <%= ie_browser? ? '' : 'fade' %>">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="container">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h1 id="hdr-title" class="text-center">选择对话框</h1>
        </div>
      </div>
      <div class="modal-body" id="modal-body">
       <p class="text-center"><i class="fa fa-spinner fa-spin"></i>正在加载...</p>
      </div><!-- End modal-body -->
    </div><!-- End modal-content -->
  </div><!-- End modal-dialog -->
</div>

<!-- show image_upload modal -->
<% if @image_count > 0 %>
  <script languange="javascript">
    ready2 = function() {
      $('#fileModal').on('hidden.bs.modal', function (e) {
        $(this).removeData('bs.modal');
      });
    }

    //#turbolinks style
    $(document).ready(ready2);
    $(document).on('page:load', ready2);
    $('body').on('hidden.bs.modal', 'div#fileModal', function () {
      $(this).removeData('bs.modal');
    });
  </script>

  <div id="fileModal" class="modal <%= ie_browser? ? '' : 'fade' %>">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div class="container">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h1 id="hdr-title" class="text-center">上传文件</h1>
          </div>
        </div>
        
        <div class="modal-body">
         <p class="text-center"><i class="fa fa-spinner fa-spin"></i>正在加载...</p>
        </div><!-- End modal-body -->
      </div><!-- End modal-content -->
    </div><!-- End modal-dialog -->
  </div>
  <!-- fileModal end -->

  <!-- meituModal start-->
  <div id="meituModal" class="modal <%= ie_browser? ? '' : 'fade' %>">
    <div class="modal-dialog" style="width: 50%; margin: 0 auto;">
      <div class="modal-content">
        <div class="modal-body meitu-body"  style="height: 500px; padding-top: 0px;">
         <p class="text-center"><i class="fa fa-spinner fa-spin"></i> 正在加载...</p>
        </div><!-- End modal-body -->
      </div><!-- End modal-content -->
    </div><!-- End modal-dialog -->
  </div>
  <!-- meituModal end-->
<% end %>