<li class="site_image" id="site_image_<%= site_image.id %>">
  <table>
    <tr>
      <td width="50%">
        <%=qiniu_image_tag site_image.image.url, :thumbnail=>'90x90>', :quality => 80, class: 'img-responsive' %>
      </td>
      <td>
        <% unless mobile_device? %>
          <span class="handle"><i class="fa fa-long-arrow-up"> </i>上下排序<i class="fa fa-long-arrow-down"> </i></span>
        <% end %>
      </td>
    </tr>
    <tr>
      <td>
        <%#=link_to "删除", site_image, data: { confirm: '你确定要删除吗?' }, :method=>:delete, :remote => true, class: "btn btn-danger btn-xs"%>
        <%= link_to '删', site_image_path(id: site_image.id, url: request.url), method: :delete, data: { confirm: '确定要删除?' }, class: "btn btn-warning btn-xs" %>
        <% unless mobile_device? %>
          <%=link_to "美", meitu_load_site_images_path(id: site_image.id, editor_type: 1), class: 'btn btn-warning btn-xs', 'data-toggle'=>'modal', 'data-target' =>'#meituModal', :remote => true %>
          <%=link_to "拼", meitu_load_site_images_path(id: site_image.id, editor_type: 2), class: 'btn btn-warning btn-xs', 'data-toggle'=>'modal', 'data-target' =>'#meituModal', :remote => true %>
        <% end %>
      </td>
      <td>
        <span id="site_image_alert_<%= site_image.id %>"></span>
      </td>
    </tr>
  </table>
</li>
