<!-- this is layout for application
==============================================
文件上传：
＃　https://github.com/thoughtbot/paperclip
＃　https://github.com/lidaobing/paperclip-qiniu
＃　https://github.com/tors/jquery-fileupload-rails
＃　引用到的文件：
#js:
  　app/assets/javascripts/application.js
      //= require jquery-fileupload/basic
      //= require jquery-fileupload/vendor/tmpl
    app/assets/javascripts/site_images.js.coffee
#controller:
    app/controllers/site_images.rb
#model:
    app/models/site_image.rb
#views:
    app/views/site_images/
#config:
    config/initializers/paperclip.rb
=============================================== --> 

<div class="row">
  <div class="col-sm-12 col-md-4 col-md-offset-4">
    <h2 class="text-center scrollimation fade-in">上传照片</h2>
    <div class="alert alert-info fade in">
       <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
       <ol>
         <li>文件的大小不能超过2MB,请下载压缩软件自动压缩以后再上传大图。</li>
         <li>可以选择多张图片同时上传.</li>
         <li>上传完成以后，请点击‘下一步’</li>
       </ol>
    </div>
    <%= form_for SiteImage.new do |f| %>
      <%= f.hidden_field :site_page_id, value: @site_page.id %>
      <div class="fileUpload btn btn-info icon-right btn-lg btn-block">
        <span>点击这里上传图片</span>
        <%= f.file_field :image, multiple: true, name: "site_image[image]", class: 'file' %>
        <i class="fa fa-arrow-right"></i>
      </div>
    <% end %>

    <script id="template-upload" type="text/x-tmpl">
      <div class="upload">
        {%=o.name%}
        <div class="progress"><div class="bar" style="width: 0%"></div></div>
      </div>
    </script>
  </div><!--End row -->
</div>


<div class="row">
  <div class="col-sm-12 col-md-8 col-md-offset-4">
    <div id="site_images">
      <%= render @site_images %>
    </div>
    <%= will_paginate @site_images %>
  </div><!--End row -->
</div>

<div class="row">
  <div class="col-sm-12 col-md-12 text-center">
    <a href="/sites/<%= @site_page.site.id %>/preview" class="btn btn-meflat">图片上传完成，点这里生成</a>
  </div>
</div>