<!-- this is layout for application
==============================================
文件上传：
＃　https://github.com/thoughtbot/paperclip
＃　https://github.com/lidaobing/paperclip-qiniu
＃　https://github.com/tors/jquery-fileupload-rails
＃　引用到的文件：
#js:
  　app/assets/javascripts/application.js
      //= require jquery-fileupload/basic
      //= require jquery-fileupload/vendor/tmpl
    app/assets/javascripts/site_images.js.coffee
#controller:
    app/controllers/site_images.rb
#model:
    app/models/site_image.rb
#views:
    app/views/site_images/
#config:
    config/initializers/paperclip.rb
=============================================== --> 

<div class="row">
  <div class="col-sm-12 col-md-6 col-md-offset-3">
    <h3 class="bottom_bordered"><small>1. 填写信息  ---  </small> 2. 上传照片 <small>--- 3. 生成应用</small></h1>
    <div class="alert alert-info fade in">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      <div id="upload-help" class="font-small">
       <ol>
         <li>文件的大小不能超过2MB,请下载压缩软件自动压缩以后再上传。<br/>
           <a href="/doc/piczip.rar" target="_blank">点击这里下载照片压缩机</a>
         </li>
         <li>可以选择多张图片同时上传.</li>
         <li>如果提示‘无效的类型’,请切换到高级浏览器中打开上传,推荐使用<a href="https://www.google.com/intl/zh-CN/chrome/browser/" target="_blank">谷歌浏览器</a>.</li>
        </ol>
      </div>
      <div id="upload-progress">
        <div id="updating">&nbsp;</div>
        <script id="template-upload" type="text/x-tmpl">
          <div class="upload">
            {%=o.name%}
            <div class="progress"><div class="bar" style="width: 0%"></div></div>
          </div>
        </script>
      </div><!--End col -->

    </div>
    <%= form_for SiteImage.new do |f| %>
      <%= f.hidden_field :site_page_id, value: @site_page.id %>
      <div class="fileUpload btn btn-info icon-right btn-lg btn-block">
        <span>点击这里上传图片</span>
        <%= f.file_field :image, multiple: true, name: "site_image[image]", class: 'file' %>
        <i class="fa fa-arrow-right"></i>
      </div>
    <% end %>

    <script id="template-upload" type="text/x-tmpl">
      <div class="upload">
        {%=o.name%}
        <div class="progress"><div class="bar" style="width: 0%"></div></div>
      </div>
    </script>
  </div><!--End col -->
  
</div>


<div class="row">
  <div class="col-sm-12 col-md-6 col-md-offset-3">
    <div id="site_images">
      <%= render @site_images %>
    </div>
    <%= will_paginate @site_images %>
  </div><!--End row -->
</div>

<div class="row">
  <div class="col-sm-12 col-md-12 text-center">
    <p style="margin-top: 60px;">
      <a href="/sites/<%= @site_page.site.id %>/preview" class="btn btn-meflat">图片上传完成，点这里生成</a>
    </p>
  </div>
</div>