
<%= simple_form_for(@site) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :template_id, as: :hidden, input_html: {value: params[:template_id] || @site.template.id} %>
    <%= f.input :title, hint: '*标题将显示在分享朋友圈中', input_html: {value: @site.title, style: 'width: 300px;', class: 'required'} %>
    <%= f.input :description, as: :text, hint: '*描述将显示在发送给微信朋友的时候', input_html: {value: @site.description, style: "width: 300px;", class: 'required'} %>
  </div>
  <br/>
  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-meflat icon-left', data: {disable_with: '正在保存...'} %>
  </div>
<% end %>

<script>
  $("#new_site").validate();
</script>