
<%= simple_form_for(@site) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :template_id, as: :hidden, input_html: {value: params[:template_id] || @site.template.id} %>
    <%= f.input :title, as: :text, input_html: {value: @site.title || '江哥和兰妞的喜帖邀请', style: 'width: 300px;'} %>
    <%= f.input :description, as: :text, input_html: {value: @site.description || '我们定于2014年5月25日举行婚礼，香格里拉大草原，敬邀您参加！', style: "width: 300px;"} %>
  </div>
  <br/>
  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-meflat' %>
  </div>
<% end %>
