<%# PAYMENT_STATUS = ['FREE', 'PENDING', 'FAILURE', 'SUCCESS', 'EXPIRED'] %>
<% if site.template.property == 'free' %>
    <span class="label label-success">免费版</span>
    <p class="p-payment-status-block">创建时间：<%= get_date(site.created_at) %><br/>&nbsp;</p>
<% else %>

  <% case site.site_payment.state %>
  <% when 'opening' %>
    <span class="label label-warning">等待付款</span>
    <%= link_to '进入支付页面', site_payment_path(site), class: 'btn btn-meflat' %>
  <% when 'pending', 'paid' %>
    <span class="label label-warning">担保交易中</span>
    <%= link_to '进入支付宝确认收货', 'http://www.alipay.com', target: '_blank', class: 'btn btn-active' %>
  <% when 'canceled' %>
    <span class="label label-warning">交易已被取消</span>
    <%= link_to '点击这里重新支付', site_payment_path(site), class: 'btn btn-active' %>
  <% when 'completed' %>
    <p><span class="label label-success">付款成功</span></p>
    <p class="p-payment-status-block">付款费用：￥<%= site.site_payment.price %> <br/> 付款时间：<%= get_date(site.site_payment.completed_at) %><br/> </p>
  <% when 'expired' %>
    <span class="label label-danger">已经过期</span>
    <%= link_to '点击这里续费', site_payment_path(site), class: 'btn btn-active' %>
  <% else %>
    未知
  <% end %>

<% end %>