
<% if @sites.empty? %>
  <div class="alert alert-warning alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>欢迎<%=current_user.try(:email) || current_member.try(:auth_id)%>!</strong> 你还没有添加应用哦，<a href="/portfolio">点击这里</a>选择个喜欢的模板创建吧.
  </div>
<% end %>

<%= link_to '创建新应用', new_site_path, class: 'btn btn-meflat' %>

<div class="row">
  <% @sites.each_with_index do |site, index| %>
    <div class="col-md-3 col-sm-12">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">
            <%= get_short_content(site.title, 14) %><br/>
            <small>&lt;<%= site.template.title %>&gt;</small>
            </h3>
        </div>
        <div class="panel-body">
          <table class="table">
            <tr><td>
              <a href="<%= get_site_url(site) %>" target="_blank" class="thumbnail pull-left">
                <img src="<%= get_first_site_image_url(site) %>" alt="<%= site.title %>" width="160px;" class="img-responsive">
              </a>
            </td><td>
              <%= link_to '预览', site_preview_path(site), class: 'btn btn-default' %>
              <%= link_to '分享', site, class: 'btn btn-default' %>
              <%= link_to '编辑', edit_site_path(site), class: 'btn btn-default' %>
              <% if  site.template.themes.any? %>
                <%= link_to '主题', site_themes_path(site), class: 'btn btn-default' %>
              <% end %>
              <%= link_to '删除', site, method: :delete, data: { confirm: '删除以后，你所有的数据将丢失，而且无法找回，确定要删除?' }, class: 'btn btn-default' %>
            </td></tr>
          </table>
          <%= render partial: 'site_payment', locals: {site: site} %>
        </div>
      </div>
    </div>
  <% end %>
</div>
