<h1>应用列表</h1>

<table class="table table-bordered">
  <tbody>
    <% @sites.each do |site| %>
      <tr>
        <td><%= site.id %> </td>
        <td><%= site.title %> </td>
        <td><%= site.description %> </td>
        <td><%= site.status %> </td>
        <td><%= link_to '预览', "/s/#{site.short_title}", target: '_blank' %></td>
        <td><%= link_to '详细', site %></td>
        <td><%= link_to '编辑', edit_site_path(site) %></td>
        <td><%= link_to '删除', site, method: :delete, data: { confirm: '确定要删除?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '创建新应用', new_site_path, class: 'btn btn-meflat' %>
