<ol class="breadcrumb">
  <li><a href="/">首页</a></li>
  <li><a href="/sites">后台</a></li>
  <li><%= link_to @site.title, site_path(@site) %></li>
  <li class="active">选择支付方式</li>
</ol>

<div class="row">
  <div class="col-sm-12 col-md-4">
    <!-- site info -->
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="bottom_bordered">方式一、支付宝支付</h3>
      </div>
      <div class="panel-body">
        <img src="/assets/alipay.gif" /> 正在集成中...
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-4">
    <!-- site info -->
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="bottom_bordered">方式二、激活码支付</h3>
      </div>
      <div class="panel-body">
        <%= form_tag(site_verify_payment_token_path) do |f| %>
          <p>你的应用编号： <span class="label label-success"><%= @site.short_title %></span></p>
          <div class="input-group">
            <%=text_field_tag :code, nil, class: 'form-control', placeholder: "请输入6位数激活码" %>
            <div class="input-group-btn">
              <%= submit_tag '验 证', :class => 'btn btn-danger' %>
            </div>
          </div>
        <% end %>
        <br/>
        <h4>可以从哪里获取激活码？</h4>
        <ul>
          <li>我们会给[商户版]会员发放激活码。</li>
          <li>我们会给合作婚庆公司发放激活码。</li>
          <li>我们会特定合作代理商发放激活码。</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-4">
    <!-- site info -->
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="bottom_bordered">方式三、微信AA付款</h3>
      </div>
      <div class="panel-body text-center">
        <p><img alt="维斗喜帖微信二维码" border="0" src="/assets/weixin-qrcode.png" /></p>
        扫一扫上面的二维码，添加为好友<br/>
        发送你的应用编号： <span class="label label-success"><%= @site.short_title %></span> 即可获得AA支付链接。
      </div>
    </div>
  </div>
</div>