<ol class="breadcrumb">
  <li><a href="/">首页</a></li>
  <li><a href="/sites">后台</a></li>
  <li><%= link_to @site.title, site_path(@site) %></li>
  <li class="active">选择支付方式</li>
</ol>

<div class="row">
  <div class="col-sm-12 col-md-4">
    <!-- site info -->
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="bottom_bordered">方式一、支付宝支付</h3>
      </div>
      <div class="panel-body">
        <img src="/assets/alipay.gif" />
        
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-4">
    <!-- site info -->
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="bottom_bordered">方式二、激活码支付</h3>
      </div>
      <div class="panel-body">
        <%= link_to '修改', edit_site_path(@site), class: 'btn btn-default' %>
        <%= link_to '预览', site_preview_path(@site), class: 'btn btn-default' %>
        <%= link_to_if @site.template.themes.any?, '主题', site_themes_path(@site), class: 'btn btn-default' %>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-4">
    <!-- site info -->
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="bottom_bordered">方式三、微信支付</h3>
      </div>
      <div class="panel-body">
        <%= link_to '修改', edit_site_path(@site), class: 'btn btn-default' %>
        <%= link_to '预览', site_preview_path(@site), class: 'btn btn-default' %>
        <%= link_to_if @site.template.themes.any?, '主题', site_themes_path(@site), class: 'btn btn-default' %>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-4">
    <!-- site info -->
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="bottom_bordered">方式四、手机号支付</h3>
      </div>
      <div class="panel-body">
        <%= link_to '修改', edit_site_path(@site), class: 'btn btn-default' %>
        <%= link_to '预览', site_preview_path(@site), class: 'btn btn-default' %>
        <%= link_to_if @site.template.themes.any?, '主题', site_themes_path(@site), class: 'btn btn-default' %>
      </div>
    </div>
  </div>
</div>