<ol class="breadcrumb">
  <li><a href="/">首页</a></li>
  <li><a href="/sites">后台</a></li>
  <li class="active">支付</li>
</ol>

<div class="row">
  <div class="col-md-10 col-md-offset-2 col-sm-12">
    <table class="table table-bordered table-striped">
      <tr><td>应用名称：</td><td><%= @site.title %> </td></tr>
      <tr><td>应用编号：</td><td><span class="label label-success"><%= @site.short_title %></span></td></tr>
      <tr><td>应用价格：</td><td><%= @site.site_payment.price %> </td></tr>
      <tr><td>支付状态：</td><td><%= payment_state(@site) %> </td></tr>
    </table>
  </div>
</div>

<% unless @site_payment.state == 'completed' %>
  <div class="row">
    <div class="col-sm-12 col-md-4">
      <!-- site info -->
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="bottom_bordered">方式一、支付宝支付</h3>
        </div>
        <% if mobile_device? %>
          <div class="panel-body">
            <%= image_tag('qr-alipay.png', alt: '维斗喜帖支付宝扫码支付', class: "img-responsive img-center") %>
            <br/>
            <h4>支付宝支付注意事项：</h4>
            <ul>
              <li>长按上面二维码，保存到手机</li>
              <li>请在手机上打开<mark>支付宝钱包</mark>，选择［扫一扫］，选择图片，选择保存的二维码</li>
              <li>请确认您付款的账户名叫：<mark>宋学江</mark></li>
              <li>支付成功后，发送您的应用编号<span class="label label-success"><%= @site.short_title %></span>到手机：<mark><%= ENV['CONTACT_MOBILE'] %></mark>，应用激活后会收到短信提示。</li>
              <li>没有安装支付宝钱包，可选择在电脑上支付</li>
            </ul>
          </div>
        <% else %>
          <div class="panel-body">
            <%= image_tag('qr-alipay.jpg', alt: '维斗喜帖支付宝扫码支付', class: "img-responsive img-center") %>
            <br/>
            <h4>支付宝支付注意事项：</h4>
            <ul>
              <li>请在手机上打开<mark>支付宝钱包</mark>，选择［扫一扫］,进入支付。</li>
              <li>支付成功后，发送您的应用编号<span class="label label-success"><%= @site.short_title %></span>到手机：<mark><%= ENV['CONTACT_MOBILE'] %></mark>，应用激活后会收到短信提示。</li>
            </ul>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <!-- site info -->
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="bottom_bordered">方式二、微信转账付款</h3>
        </div>
        <div class="panel-body">
          <p class="text-center">
            <%= image_tag('weixin-qrcode-sxj.png', alt: '维斗喜帖微信二维码', class: "img-responsive") %>
          </p>
          <h4>操作流程：</h4>
          <ul>
            <li>扫描上方二维码，添加微信好友</li>
            <li>或添加微信号：<span class="label label-info"><%= ENV['CONTACT_WECHAT'] %></span></li>
            <li>转账后，发送应用编号<span class="label label-success"><%= @site.short_title %></span>即可开通</li>
          </ul>          
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <!-- site info -->
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="bottom_bordered">方式三、激活码支付</h3>
        </div>
        <div class="panel-body">
          <%= form_tag(site_verify_payment_token_path) do |f| %>
            <p>你的应用编号： <span class="label label-success"><%= @site.short_title %></span></p>
            <div class="input-group">
              <%=text_field_tag :code, nil, class: 'form-control', placeholder: "请输入6位数激活码" %>
              <div class="input-group-btn">
                <%= submit_tag '验 证', :class => 'btn btn-danger' %>
              </div>
            </div>
          <% end %>
          <br/>
          <h4>哪里可以获取激活码？</h4>
          <ul>
            <li>我们会给<mark>[商户版]会员</mark>发放激活码</li>
            <li>我们会给<mark>团购客户</mark>发放激活码</li>
            <li>我们会给<mark>个人定制用户</mark>发放激活码</li>
          </ul>
        </div>
      </div>
    </div>
    
  </div>
<% end %>