<div class="row">
  <div class="col-sm-12 col-md-4">
    <!-- site info -->
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @site.title %></h3>
      </div>
      <div class="panel-body">
        <%= link_to '修改', edit_site_path(@site), class: 'btn btn-default' %>
        <%= link_to '预览', site_preview_path(@site), class: 'btn btn-default' %>
        <%= link_to_if @site.template.themes.any?, '主题', site_themes_path(@site), class: 'btn btn-default' %>
      </div>
    </div>
    <!-- site info -->
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">喜帖唯一二维码&固定访问地址：</h3>
      </div>
      <div class="panel-body">
        <a href="<%= get_site_url(@site) %>" target="_blank"><%= get_site_url(@site) %></a>
      </div>
    </div>
    <!-- site info -->
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">编辑短信发送到手机</h3>
      </div>
      <div class="panel-body">
        <%= form_tag("/sites/send_sms", id: 'send_sms_form', method: "post", remote: true) do %>
          <%= text_field_tag :mobile_phone, nil, placeholder: '请输入你的手机号' %>
          <%= text_area_tag :content, "#{@site.title}\n点击下面查看：#{get_site_url(@site)}" %>
          <%= submit_tag "发送", id: "send_sms_submbit", class: "button", data: {disable_with: "发送中..."} %>
        <% end %>
      </div>
    </div>
    <!-- site info -->
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">分享喜帖：</h3>
      </div>
      <div class="panel-body">
        <%= render 'layouts/baidu_share' %>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-4 hidden-sm">
    &nbsp;
   
  </div>
  
</div>


