<ol class="breadcrumb">
  <li><a href="/">首页</a></li>
  <li><a href="/sites">后台</a></li>
  <li class="active">分享</li>
</ol>

<div class="row">
  <div class="col-sm-12 col-md-4">
    <!-- site info -->
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">应用二维码：</h3>
      </div>
      <div class="panel-body text-center">
        <img src="http://qr.liantu.com/api.php?text=<%=get_site_url(@site)%>&w=200" />
        <br/><small>通过手机微信扫一扫打开</small>
      </div>
    </div>
  </div>

  <% if false %>
  <div class="col-sm-12 col-md-4">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">编辑短信发送到手机</h3>
      </div>
      <div class="panel-body">
        <%= form_tag("/sites/send_sms", id: 'send_sms_form', method: "post", remote: true) do %>
          <%= text_field_tag :mobile_phone, nil, placeholder: '请输入你的手机号' %>
          <%= text_area_tag :content, "#{@site.title}\n点击下面查看：#{get_site_url(@site)}" %>
          <%= submit_tag "发送", id: "send_sms_submbit", class: "button", data: {disable_with: "发送中..."} %>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>

  <div class="col-sm-12 col-md-4">
    <!-- site info -->
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">分享到社交网络：</h3>
      </div>
      <div class="panel-body">
        <p>
          <a href="<%= get_site_url(@site) %>" target="_blank"><%= get_site_url(@site) %></a>
        </p>
        <%= render 'layouts/baidu_share' %>
      </div>
    </div>
  </div>
</div>


