<!-- ==============================================
MAIN NAV
=============================================== -->
<div id="main-nav" class="navbar navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#site-nav">
        <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
      </button>
      
      <!-- ======= LOGO (for small screens)========-->
      <a class="navbar-brand visible-xs" href="/"><%= image_tag('logo.png', width: '120px', alt: '维斗喜帖Logo') %></a>
      
    </div>
    
    <div id="site-nav" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li>
          <a href="/templates">模板</a>
        </li>
        <li>
           <a href="/case">案例</a>
        </li>
        <li id="logo">
          <a href="/">
            <h1>喜<span>帖</span></h1>
          </a>
        </li>
        <li>
          <a href="/pricing">价格</a>
        </li>
        <li>
          <a href="/blog">教程</a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">登录 <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <%= render 'layouts/navigation_links' %>
          </ul>
        </li>
        <span style="float: right; position: relative; margin-left: -20px;">
          <%= link_to user_omniauth_authorize_path(:weibo) do %> 
            <%=image_tag 'login_with_weibo.png', title: '新浪微博账号登录' %>
          <% end %>
        </span>
      </ul>
    </div><!--End navbar-collapse -->
    
  </div><!--End container -->
</div><!--End main-nav -->
<!-- ==============================================
HEADER
=============================================== -->
<header id="home" class="jumbotron" <% if !(params[:controller] == 'home' && params[:action] == 'index') %> style="min-height: 40px; padding: 20px 0 80px" <% end %>>
  <div class="container"><!-- keep to hold the style -->
    <%= yield(:header) %>
  </div>
</header><!--End header -->